<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.calendar-joiner</string>
  <key>ProgramArguments</key>
  <array>
    <string>node-path</string>
    <string>calendar-joiner-path/index.js</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>/tmp/com.user.calendar-joiner.job.err</string>
  <key>StandardOutPath</key>
  <string>/tmp/com.user.calendar-joiner.job.out</string>
</dict>
</plist>
